<%= form_for(@data, url: url_for(action: 'view', pesertaa_id: @data.id), multipart: true ) do |f| %>
<h1>Data peserta</h1>
<div class="table-responsive">
  <table class="table table-striped">

    <tr>
      <td>Nama</td>
      <td>:</td>
      <td><%= @data.pesertaa_nama %></td>
    </tr>

    <tr>
      <td>Tanggal Lahir</td>
      <td>:</td>
      <td><%= @data.pesertaa_tanggal_lahir %></td>
    </tr>
    <tr>
      <td>Tempat Lahir</td>
      <td>:</td>
      <td><%= @data.pesertaa_tempat_lahir %></td>
    </tr>
    <tr>
      <td>Jenis Kelamin</td>
      <td>:</td>
      <td><%= @data.pesertaa_jk %></td>
    </tr>
    <tr>
      <td>NIK</td>
      <td>:</td>
      <td><%= @data.pesertaa_nik %></td>
    </tr>
    <tr>
      <td>Alamat</td>
      <td>:</td>
      <td><%= @data.pesertaa_alamat %></td>
    </tr>
    <tr>
      <td>Nama Ayah</td>
      <td>:</td>
      <td><%= @data.pesertaa_nama_ayah %></td>
    </tr>
    <tr>
      <td>Nama Ibu</td>
      <td>:</td>
      <td><%= @data.pesertaa_nama_ibu %></td>
    </tr>
    <tr>
      <td>Tinggi</td>
      <td>:</td>
      <td><%= @data.pesertaa_tinggi %></td>
    </tr>
    <tr>
      <td>Berat Badan</td>
      <td>:</td>
      <td><%= @data.pesertaa_bb %></td>
    </tr>
    <tr>
      <td>Jarak sekolah</td>
      <td>:</td>
      <td><%= @data.pesertaa_jarak_sekolah %></td>
    </tr>
    <tr>
      <td>Golongan darah</td>
      <td>:</td>
      <td><%= @data.pesertaa_gol_darah %></td>
    </tr>
    <tr>
      <td>Jumlah saudara</td>
      <td>:</td>
      <td><%= @data.pesertaa_jumlah_saudara %></td>
    </tr>
    <tr>
      <td>Telepon</td>
      <td>:</td>
      <td><%= @data.pesertaa_telepon %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>:</td>
      <td><%= @data.pesertaa_email %></td>
    </tr>
    <tr>
      <td>Bahasa sehari-hari</td>
      <td>:</td>
      <td><%= @data.pesertaa_bahasa_seharihari %></td>
    </tr>
    <tr>
      <td>Jenjang Pendidikan</td>
      <td>:</td>
      <td><%= @data.pesertaa_jenjang_pendidikan %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td>:</td>
      <td><%= @data.pesertaa_status %></td>
    </tr>
    <tr>
      <td>Kategori</td>
      <td>:</td>
      <td><%= @data.pesertaa_kategori %></td>
    </tr>
    <tr>
      <td>JWT Token</td>
      <td>:</td>
      <td><%= @data.pesertaa_jwt_token %></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>:</td>
      <td><img src="<%= @data.pesertaa_photo %>" alt="" style="width: 100px"></td>
    </tr>
  </table>
</div>
<% end %>
