<%= form_for(@data, url: url_for(action: 'view', staf_id: @data.id), multipart: true ) do |f| %>
<h1>Data Staf</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <td>Nama</td>
      <td>:</td>
      <td><%= @data.staf_nama %></td>
    </tr>
    <tr>
      <td>Tanggal Lahir</td>
      <td>:</td>
      <td><%= @data.staf_tgl_lahir %></td>
    </tr>
    <tr>
      <td>Tempat Lahir</td>
      <td>:</td>
      <td><%= @data.staf_tempat_lahir %></td>
    </tr>
    <tr>
      <td>Jenis Kelamin</td>
      <td>:</td>
      <td><%= @data.staf_jk %></td>
    </tr>
    <tr>
      <td>Alamat</td>
      <td>:</td>
      <td><%= @data.staf_alamat %></td>
    </tr>
    <tr>
      <td>Status kepegawaian</td>
      <td>:</td>
      <td><%= @data.staf_status_kepegawaian %></td>
    </tr>
    <tr>
      <td>Telepon</td>
      <td>:</td>
      <td><%= @data.staf_telepon %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>:</td>
      <td><%= @data.staf_email %></td>
    </tr>
    <tr>
      <td>Agama</td>
      <td>:</td>
      <td><%= @data.staf_agama %></td>
    </tr>
    <tr>
      <td>Status perkawinan</td>
      <td>:</td>
      <td><%= @data.staf_status_perkawinan %></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>:</td>
      <td><img src="<%= @data.staf_photo %>" alt="" style="width: 100px"></td>
    </tr>
  </table>
</div>
<% end %>
