<!-- <div class="row">
  <a href="/sp/guru/baru" class="btn btn-primary">Baru</a>
</div> -->

<div class="table-responsive">
<table class="table table-striped table-bordered" >
  <thead>
    <tr>
      <a href="/sp/guru/baru" class="btn btn-primary">Baru</a>
    </tr>
    <tr>
      <th>Aksi</th>
      <th>#</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th>No Hp</th>
      <th>Email</th>
      <th>Bidang Studi</th>

    </tr>
  </thead>
  <tbody>

    <% @datas.each do |f| %>
    <tr>
      <td>
        <a href="<%= url_for action: 'view', guru_id: f.id %>" class="btn btn-small btn-default">View</a>
        <a href="<%= url_for action: 'edit', guru_id: f.id %>" class="btn btn-small btn-default">Edit</a>
        <%= link_to 'hapus',url_for(action: :hapus, guru_id: f.id), method: :delete, data: {confirm: "Apakah Anda yakin ingin menghapus data tersebut?"}, class: 'btn btn-small btn-default' %>
      </td>
      <td><%= f.id %></td>
      <td><%= f.guru_nama %></td>
      <td><%= f.guru_alamat %></td>
      <td><%= f.guru_telepon %></td>
      <td><%= f.guru_email %></td>
      <td><%= f.guru_bidang_studi %></td>
    </tr>
    <% end %>


  </tbody>
</table>
</div>
