<%= form_for(@data, url: url_for(action: 'edit_post', pesertaa_id: @data.id), multipart: true ) do |f| %>
<div class="form-group">
  <label for="">Nama Lengkap</label>
  <%= f.text_field :pesertaa_nama, {class: 'form-control'} %>
</div>

<div class="form-group">
  <label for="">Tanggal Lahir</label>
  <%= f.text_field :pesertaa_tanggal_lahir, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Tempat Lahir</label>
  <%= f.text_field :pesertaa_tempat_lahir, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">NIK</label>
  <%= f.text_field :pesertaa_nik, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Jenis Kelamin</label>
  <%= f.text_field :pesertaa_jk, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Nama Ayah</label>
  <%= f.text_field :pesertaa_nama_ayah, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Nama Ibu</label>
  <%= f.text_field :pesertaa_nama_ibu, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">No Hp</label>
  <%= f.text_field :pesertaa_telepon, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Alamat</label>
  <%= f.text_field :pesertaa_alamat, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Tinggi Badan</label>
  <%= f.text_field :pesertaa_tinggi, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Berat Badan</label>
  <%= f.text_field :pesertaa_bb, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Golongan Darah</label>
  <%= f.text_field :pesertaa_gol_darah, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Jarak Rumah ke Sekolah</label>
  <%= f.text_field :pesertaa_jarak_sekolah, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Jumlah Saudara</label>
  <%= f.text_field :pesertaa_jumlah_saudara, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Bahasa Sehari hari</label>
  <%= f.text_field :pesertaa_bahasa_seharihari, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Kebutuhan Khusus</label>
  <%= f.text_field :pesertaa_kategori, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Jenjang Pendidikan</label>
  <%= f.text_field :pesertaa_jenjang_pendidikan, {class: 'form-control'} %>
</div>
<div class="form-group">
  <label for="">Photo</label>
  <%= f.file_field :pesertaa_photo, {class: 'form-control'} %>
</div>
<div class="form-group">
  <input type="submit" value="Perbarui Data" class="btn btn-primary">
</div>
<% end %>
